.header{
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.6);
    /* background-position: center center; */
    /* min-height: 50vh; */
    height: 56vh;
    width: 100%;
}
.league-title,.club-logo{
    position: relative;
    text-align: center;
    transform: translateY(22vh);
}
.club-logo{
    transform: translateY(20vh);
}
@media(max-width: 1441px){
    .club-logo, .club{
        width: 335px !important;
    }
}
.ground{
    height: 60%;
    width: 100%;
    z-index: -99;
    position: absolute;
    top: 0;
}
.bg-special{
    background-color: #0E0A2B;
}
.clubs{
    transform: translateY(50%);
}